/*
 * Product Card Actions
 *
 * @version 1.1.0
 * @author KB
 * @link https://kowb.ru
 */

ul.products li.product {
    position: relative;
}

ul.products li.product .mkx-wishlist-btn,
ul.products li.product .mkx-compare-btn {
    position: absolute !important; /* Use !important to override the parent theme's rule */
    top: 10px;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
    z-index: 2;
}

ul.products li.product .mkx-compare-btn {
    top: 55px; /* 10px (top) + 40px (button height) + 5px (gap) */
}

ul.products li.product:hover .mkx-wishlist-btn,
ul.products li.product:hover .mkx-compare-btn {
    opacity: .8;
    visibility: visible;
    transform: translateX(0);
}